<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f/resourcegroups/v-harshithav-Mindtree/providers/Microsoft.ContainerRegistry/registries/HarshithaWorkerService20220316151345</ResourceId>
    <ResourceName>HarshithaWorkerService20220316151345</ResourceName>
    <ResourceGroup>v-harshithav-Mindtree</ResourceGroup>
    <Subscription>Azure CXP Community Internal Consumption</Subscription>
    <RegistryUrl>https://harshithaworkerservice20220316151345.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>