<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f/resourcegroups/v-harshithav-Mindtree/providers/Microsoft.Web/sites/Sample2API20220528</ResourceId>
    <ResourceGroup>v-harshithav-Mindtree</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://sample2api20220528.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>142d4e71-e220-44de-809b-162e82abf54f</ProjectGuid>
    <PublishUrl>https://sample2api20220528.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Sample2API20220528</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>